.container {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  background: #ccc;
  animation: changeHeight 3s infinite ease-in-out;
  
}

#setHeightBtn, #setScroll, #setPadding  {
  margin-left: 50px;
  margin-top: 20px;
}
@keyframes changeHeight {
  0% {
    height: 200px;
  }
  50% { 
    height: 2000px;
  }
  100% {
    height: 200px;
  }
}